@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("bg.png");
}

h1 {
    margin-bottom: 20px;
    font-size: 6vh;
    color: #4CAF50;
}

h2 {
    margin-top: 10px;
    font-size: 2vh;
    color: #4CAF50;
}

.search-bar {
    display: flex;
    width: 600px;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.search-input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 20px;
}

.search-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.tete {
    position: absolute;
    left: 15%;
    top: 20%;
}

.tete h1 {
    display: none;
}

.bouche {
    position: absolute;
    left: 20%;
    top: 42%;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    transition: top 0.4s ease;
}

.bouche h1 {
    display: none;
}

.bouche1 {
    position: absolute;
    left: 23%;
    top: 42%;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    transition: top 0.4s ease;
}

.bouche1 h1 {
    display: none;
}

.bouche2 {
    position: absolute;
    left: 21.2%;
    top: 40%;
    background-color: white;
    height: 65px;
    width: 65px;
    border-radius: 100%;
}

.bouche2 h1 {
    display: none;
}
